
* {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
   background-color: pink; 
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 8px;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
  text-transform: capitalize;
}

.logo h1 {
  font-size: 35px;
}

.main {
  text-align: center;
  height: 150px;
  margin-top: 20px;
  padding: 20px;
}

.main h1 {
  margin: 10px;
  font-size: 40px;
}

.main p {
  margin: 10px;
  font-size: 20px;
}

.main button {
  height: 70px;
  width: 400px;
  font-size: 20px;
  background-color: green;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.skills div {
  height: 150px;
  width: 450px;
  /* border: 2px solid red; */
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.skills div h1 {
  font-size: 25px;
}

.skills div p {
  font-size: 20px;
  margin-top: 10px;
}

.skills2 {
  margin-top: -20px;
}

footer {
  height: 50px;
  background-color: rgb(1, 82, 19);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer div {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-top: 10px;
}

footer div a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

footer button {
  height: 40px;
  width: 150px;
  background-color: whitesmoke;
  color: green;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

